<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Mon CRUD</title>

</head>
<body>

<header>
<h1>Mon CRUD</h1>
</header>

<nav>
<ul>
    <li><a href="create.html">Create</a></li>
    <li><a href="read.html">Read</a></li>
    <li><a href="update.html">Update</a></li>
    <li><a href="delete.html">Delete</a></li>
</ul>


<main>
    <form method="POST" action="/Controllers/read_ctrl.php">
        <label for="pseudo">Pseudo</label> : <input type="text" name="pseudo" id="pseudo" />
        <input type="submit" value="Chercher" />
    </form>
    
</main>

<footer> 
<p>Et les Shadoks pompaient, pompaient, pompaient...</p>
</footer>
</body>
</html>